p, h1, h2, h3, h4, h5{
    font-family: park-lane;
}

a{
    font-family: park-lane;
}

body{
    background-color: rgb(255, 238, 250);
}

a:visited,
a:link{
    text-decoration: none;
    color: rgb(85, 92, 97);
}

a:active,
a:hover{
    text-decoration: none;
    color: rgb(206, 185, 69);
}

#menu {
    font-family: loz-feliz;
    color: rgb(76, 232, 243);
    margin-left: 5%;
}



#menuContent{
    position: absolute;
    text-align: right;
    top: 20%;
}

.centralImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

@font-face{
    font-family: SansSeriffic;
    src: url(fonts/Sanseriffic-Jxlj.ttf);
}