body {
    background-color: #ececec; /* #FFDDDD */
    text-align: center;
    color: blue;
    font-family: 'Cutive Mono', monospace;
    image-rendering: pixelated; /* Ensures nearest-neighbour scaling. Pixels! */

    margin: 0;
    display: flex; 
    overflow-x: scroll;
    overscroll-behavior: none;
}

h1 {
    color: rgb(38, 194, 233);
    font-family: 'munroregular','Cutive Mono', monospace;
    margin: 8px;

    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

p {
    text-align: left;
    margin: 8px;
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

img::selection {
    background-color: transparent;
    color: #000;
}

.page {
    z-index: 2;
    left: 128px;
    top: 80px;
    border: 3px solid #BBBBBB;
    position: fixed;
    align-self: center;
    background-color: white;
    max-width: 75%;
    min-width: 100px;
    height: auto;
    display: none;
    draggable: true;
}

.pageContent {
    margin-left: 5px;
    margin-right: 5px;
}

#topBorder {
    border: 1px solid #222222;
    height: 20px;
}

#vanityImage {
    max-width: 100%;
    max-height: 100%;
}

#musicPage {
    left: 220px;
    max-width: 450px;
}

#videoPage {
    left: 140px;
    max-width: 570px;
}

#projectPage {
    left: 150px;
    max-width: 400px;
}

@font-face {
    font-family: 'munroregular';
    src: url('fonts/munro-webfont.woff2') format('woff2'),
         url('fonts/munro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}